@charset "UTF-8";


.mod-dl-table{
  padding: 50px 0;
  background: #f8f8f8;
  margin: 0 auto;
  width: 80%;
  font-family: serif;
}

.contact-container {
  width: 70%;
  margin: 0 auto;

}


    dl,
    dt,
    dd {
      box-sizing: border-box;
    }


    dl {
      padding: 0 10%;
    }

    dt,
    dd {
      border-top: 1px solid #ccc;
      padding: 20px 0 20px 10px;
    }

    dt {
      width: 40%;
      float: left;
      font-weight: normal;
    }

    dd {
      margin-left: 40%;


    }

    dd:after {
      content: '';
      display: block;
      clear: both;
    }

    .mod-icon-inquiry {
      margin-left: 15px;
      padding: 2px 6px;
      background-color: #c62533;
      color: #fff;
      font-size: 72%;
    }

    textarea,select,input {
      width: 90%;
      font-size: 12px;
      border: 1px solid #ccc;
    }

    textarea {
      height: 150px;
    }

    select, input {
      border-radius: 5px;
    }

    input {
      float: none;
      padding: 10px;
      margin: 0;
    }


    #input-name, #input-mail, #datepicker-default {
      width: 90%;
    }

    #input-radio {
      width: 15px;
      margin: 10px 10px;
    }

    #input-tel,#input-fax,#zip {
      width: 45%;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #d3d3d3;
    }



    .form-group {
      margin: 0;
    }

    .form-control {
      height: 35px;
      margin: 0;
    }


    #checkbox {
      width: 15px;
      margin: 15px 10px;
    }

    .submit {
      width: 50%;
      display: block;
      margin: 10px auto;
    }

    #inlineFormCustomSelectPref{
      outline:none;
      text-overflow: '';
      background: #fff;
      font-size: 12px;
      height: 40px;
      padding: 8px 12px;
      width: 90%;
    }


@media screen and (max-width: 818px) {

  .contact-container {
    width: 100%;
    margin: 0 auto;
  }

}

@media screen and (max-width: 640px) {

  .content-title h4 {
    font-size: 20px;
  }

  .mod-dl-table{
    width: 85%;
  }

  .mod-dl-table h5{
    font-size: 14px;
  }


  dt {
    width: 100%;
    float: none;
    padding: 15px 0 0;
    font-size: 12px;
    border-top: 1px solid #ccc;
  }

  dd {
    margin-left: 0;
    padding-bottom: 10px;
    font-size: 10px;
  }


  dt,
  dd {
    border-top: none;
  }

  textarea {
    font-size: 10px;
  }


  #datepicker,#input-tel,#input-fax,#zip {
    width: 60%;
  }

}
